body {
    width: 80%;   /*sets the whole page to 80% of window*/
    margin: 0 auto;
    padding: 0;
    align-items: center;
   }

.container {
    /*height: 900px; */
    margin: 0 auto;
    /*border: 2px solid black; */
    display: flex;   /* https://www.youtube.com/watch?v=phWxA89Dy94 */
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: space-between; */
    gap: 1em;
    /*flex-wrap: wrap; */;
}   

.navigation {
    height: 100px;;
 }

.logo1 {
    font-size: 26px;
    font-family: cursive; /*weird font sent by Nick */
    font-weight: 950;
    color: whitesmoke;    
}

nav {
    display:flex;
    align-items: baseline;
    justify-content:space-between;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color:rgb(20, 20, 65);
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    font-weight: bold;
    padding: 15px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
    font-family: calibri;
    font-size: 20px;
}

nav ul li a:hover {
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

button {
    border: none;
    background: gray;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-family: caibri;
    font-size: 20px;
    transition: 0.5s;
}

button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.team_photo {
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: none;
   }

#the_team {
    display: flex;
    margin: 0 auto; /*centres the image in the div*/
    height: 600px;
    width: 1100px;
}

.description {
    /*display: flex;
    flex-wrap: nowrap; */ 
    font-family: calibri;
    color:whitesmoke;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    background-color:rgb(20, 20, 65);
}

#logo2 {
    
}

.container2 {        /*works perfectly! */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 70px;
}

.info {
    width: 400px;
    height: 130px;
    text-align: center;
    background-color: rgb(20, 20, 65);
    border: 2px solid black;
    border-radius: 30px;
    color: whitesmoke;
    font-weight: 700;
}

H3 {
    font-family: calibri;
    font-weight: 910;
}

P {
    font-family: calibri;
    font-weight: 700;;
}

footer {
    text-align: center;
    padding-top: 5px;
    color: black;
    font-family: calibri;
    padding-bottom: 5px;
    border-top: 1px solid black;
}

/*timetable page*/
.timetable {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 50px; 
}

#schedule {
    height: 80%;
    width: 80%;
}

/*gallery page*/


.gallery_logo {
    display: flex;
    justify-content: center;
    height: 500px;
    padding-bottom: 50px;
}


.gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
}

#photos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    padding-bottom: 20px;
}